.infoText {
  color: #bbbaba;
  font-weight: 400;
  font-size: 18px;
}

.errorText {
  color: #bd2c2c;
}

.checkbox{
  display: flex;
  margin: 20px 0;

}

.btnGroup {
  display: flex;
  justify-content: space-between;
}