@import './src/s1-main/m1-ui/common/c2-styles/sass/variables';

.checkEmailContainer {
  .checkEmailPassBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header{
    margin-bottom: 10px;
  }

  .informationText{
    color: $darkGray;
    text-align: center;
    margin: 5px 0 25px 0;
  }
}