@import './src/s1-main/m1-ui/common/c2-styles/sass/variables';

.checkEmailContainer {
  .checkEmailPassBlock {
    .header {
      font-size: 26px;
      margin-bottom: 30px;
      font-weight: 600;
    }

    .informationText {
      margin: 10px 0 30px 0;
      opacity: 0.5;
      text-align: center;
    }

    .button {
      width: 100%;
    }
  }
}