@import '../../c2-styles/sass/variables';
@import '../../c2-styles/sass/mixins';

.default{
  background: #366EFF;
  border-radius: 30px;
  height: 36px;
  border: none;
  color: $mainWhite;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  padding: 8px 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  &:disabled{
    opacity: 0.5;
  }
}

.red{
  background-color: $errorColor;
  box-shadow: 0 4px 18px rgba(255, 54, 54, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);

}

.white{
  background-color: rgba(207, 207, 207, 0.1);
  color: black;
  border: 1px solid #CFCFCF;
  box-shadow: 0 2px 11px rgb(180, 180, 180), inset 0 1px 0 rgba(255, 255, 255, 0.9);
}