@import '../../c2-styles/sass/variables';
@import '../../c2-styles/sass/mixins';

.default{
  background: #366EFF;
  border-radius: 30px;
  height: 36px;
  border: none;
  color: $mainWhite;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  &:disabled{
    opacity: 0.5;
  }
}

.red{
  //border: 2px solid $errorColor;
  //background-color: $errorColor;

  &:active:not([disabled]){
    //background-color: transparent;
    //color: $errorColor;
  }
}