@import './src/s1-main/m1-ui/common/c2-styles/sass/variables';

.mainComponent{
  display: flex;

  .input{

  }
  .button{
    border-color: $mainBlack;
    transition: border-color 0.5s;
    border-radius: 50%;

    padding: 0;
    margin: 9px 0 0;

    background-color: $mainWhite;

    &:hover{
      border-color:$mainColor;
    }

    .img{
      width: 30px;
    }
  }
}