.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
  min-height: 100vh;

  .childrenBlock {
    border: 1px solid black;
    width: 350px;
    height: 320px;
    text-align: center;
  }
}