@import '../../c2-styles/sass/variables';
@import '../../c2-styles/sass/mixins';

.inputContainer {
	display: flex;
	flex-direction: column;

	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px white inset !important;
	}

	.defaultInput {
		background: transparent;
		color: $mainBlack;
		position: relative;
		outline: none;
		width: 100%;
		padding: 5px 0;
		border: none;
		border-bottom: 2px solid #CCCCCC;
		&:hover, &:focus {
			border-bottom: 2px solid black;
		}
	}

	.errorInput {
		border-bottom: 2px solid $errorColor !important;
	}

	.error {
		@include text(14px);
		color: $errorColor;
		margin-left: 13px;
	}

}

