.loginPage {

	.formWrapper {
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		max-width: 413px;
		min-height: 555px;
		margin: 60px auto;
		padding: 35px 33px 42px 33px;

		.form {
			display: flex;
			flex-direction: column;

			.title {
				font-size: 26px;
				margin: 37px auto;
			}
			.label{
				font-size: 13px;
				opacity: 0.5;
			}

			.signUpButton {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}