@import '../../s1-main/m1-ui/common/c2-styles/sass/mixins';

.learnContainer {
  margin-top: 50px;
  width: 430px;

  .packName {
    @include H1();

    display: flex;
    justify-content: center;
  }

  .learnBlock {
    margin-top: 15px;
    align-items: flex-start;

    .textContainer {
      display: flex;
      font-weight: bold;
      margin-bottom: 15px;

      .text {
        margin-left: 5px;
        font-weight: normal;
      }
    }
    .infoText{
      font-size: 14px;
      margin: 0 0 30px 0;
      opacity: 0.5;

      .infoNumber{
        font-weight: bold;
      }
    }

    .button{
      margin: 20px 0 0 0;
      width: 100%;
    }


  }
}