@import '../common/c2-styles/sass/variables';
@import '../common/c2-styles/sass/mixins';

.pageContainer{
  height: 80vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 100px;

  & span{
    @include text(18px);
    margin-top: 10px;

    & a{
      color: $mainColor;
    }
  }
}